{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="d-flex col-4 px-4 form-group pl-5">
    <div class="search-select">
        <button id="dropdownBtn" type="button" data-toggle="dropdown" class="btn btn-light rounded-0 pr-5 b-5">
            <span>Search tag</span>
        </button>
        <ul class="dropdown-menu  bg-light border-0">
            <input _="on input
                        show .tag-container in first .search-select-filtered-options in my parentElement
                        when it's textContent.toLowerCase() contains my value.toLowerCase()" />
            <div class="search-select-filtered-options p-0 " _="on click stopPropagation() on event">
                <div hx-trigger="load, tag-added from:body" hx-get="{% url 'cards:user-tags' %}"></div>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item btn btn-primary pt-2" _="on click send filteritems to body">Filter</button>
            </div>
        </ul>
    </div>
    <div>
        <btn class="btn btn-primary dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">Add tag </button>
            <div class="dropdown-menu py-2 px-2" _="on click stopPropagation() on event">
                {% crispy tags_form %}
            </div>
    </div>
</div>
<form class="d-flex align-items-start" hx-swap="none" hx-post="{% url 'cards:moved-object' %}" hx-trigger="cardmoved">

    <input type="hidden" name="fromCard" id="fromCard">
    <input type="hidden" name="toCard" id="toCard">
    <input type="hidden" name="order" id="order">
    <input type="hidden" name="movedItem" id="movedItem">

    <div class="board d-flex align-items-start h-100" _="on end put event.from.id into #fromCard.value
                                 put event.to.id into #toCard.value 
                                 put event.newIndex into #order.value
                                 put event.item.id into #movedItem.value 
                                 then send cardmoved">
        {% for card in cards %}
        <div hx-trigger="load" hx-get="{% url 'cards:card' card.uuid %}" hx-swap="outerHTML"></div>
        {% endfor %}
    </div>
    <div class="card m-3 p-2 pb-0 ">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Card name" name="newcard">


            <div class="input-group-append">
                <button class="btn btn-outline-secondary"
                    _='on htmx:afterRequest 
                                                                put "" into me.parentElement.previousElementSibling.value' type="button" hx-target=".board"
                    hx-swap="beforeend" hx-post="{% url 'cards:add-card' %}">Add new card</button>
            </div>
        </div>
    </div>
</form>
<div id="modal-here"></div>

{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
    htmx.onLoad(function (content) {
        new Sortable(document.querySelectorAll(".board")[0], {
            draggable: ".list-all",
            handle: ".card-handler",
            animation: 150
        })
        var sortables = document.querySelectorAll(".list-items");
        for (var i = 0; i < sortables.length; i++) {
            var sortable = sortables[i];
            new Sortable(sortable, {
                draggable: ".item",
                animation: 150,
                group: 'group',
            });
        }
    })


    function closeModal() {
        var container = document.getElementById("modal-here")
        var backdrop = document.getElementById("modal-backdrop")
        var modal = document.getElementById("modal")

        modal.classList.remove("show")
        backdrop.classList.remove("show")

        setTimeout(function () {
            container.removeChild(backdrop)
            container.removeChild(modal)
        }, 200)
    }
    function calculateContrastColor(color) {
        var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(color);

        red = parseInt(result[1], 16)
        green = parseInt(result[2], 16)
        blue = parseInt(result[3], 16)


        if ((red * 0.299 + green * 0.587 + blue * 0.114) > 150) {
            return "#000000"
        } else {
            return "#FFFFFF"
        }
    }

</script>
{% endblock %}